/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


:root {
  --font-family: "IBM Plex Mono";
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-size-reg: 18px;
  --font-size-title: 157px;
  --color-dark-blue: #000028;
  --color-magenta: #FF0070;
  --font-color-desc: #F1B2CE;
  --color-title: #DB00FF;
  --background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  .page {
    background-color: var(--color-dark-blue);
  }
}
