/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root {
  --light-background-color: #FFF1F7;
  --font-color-light-pink: #FFC2E6;
  --font-color-light-grey: #353430;
  --font-background: #FF8DCB;
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  background-color: var(--light-background-color);
  .header {
    background-image: url(../images/cover-image-light.png);
  }

  .title-decor {
    background-color: var(--font-background);
    color: var(--font-color-light-grey);
  }

  .lightbulb__text {
    color: var(--font-color-light-pink);
  }
  
  .header__title {
    color: var(--font-color-light-pink);
  }

  .title__no-background {
    color: var(--font-color-light-grey);
  }

  .description {
    color: var(--font-color-light-grey);
  }

  .title-decor-regular {
    background-color: var(--font-background);
  }

  .footer__header {
    color: var(--font-color-light-pink);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --light-background-color: #FFF1F7;
  --font-color-light-pink: #FFC2E6;
  --font-color-light-grey: #353430;
  --font-background: #FF8DCB;
  }
}
