/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */



html, body {
  max-width: 100%;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0px 20px 0px 20px;
} 

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  padding: 0px 20px 0px 20px;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  margin-block-start: 20px;
  z-index: 1;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--color-magenta);
  border-top: 1px solid var(--color-magenta);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-magenta);
  border-bottom: 1px solid var(--color-magenta);
}

.lightbulb__text {
  text-align: center;
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  color: var(--minor-title-color);
  font-size: var(--font-size-reg);
  position: absolute;
  right: 25px;
  top: 20px;
}

.lightbulb__text::after {
  content: '';
  display: inline-block;
  line-height: 9px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--color-magenta);
  margin-inline-start: 10px;
  margin-block-end: 2px;
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.header__title {
  grid-row: 2;
  grid-column: span 3;
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--font-shadow-color);
  margin-inline-start: -20px;
}

.header__title-decor {
  align-self: center;
  justify-self: end;
  grid-row: 3;
  grid-column: span 3;
  max-width: 490px;
  margin-block-end: 45px;
}

.header__theme-menu-button {
  appearance: none;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 26px;
  background-color: transparent;
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-size: var(--font-size-reg);
  text-transform: lowercase;
  color: var(--minor-title-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-magenta);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--color-magenta);
} 

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: center;
}

.title-decor {
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-weight: var(--font-weight-bold);
  background-color:  var(--font-background-color);
  color: var(--dark-font-color);
  font-size: var(--font-size-reg);
  margin-block-end: 10px;
}

.title-decor-gap {
  margin-block-end: 18px;
}

.title-decor-regular {
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-weight: var(--font-weight-regular);
  background-color:  var(--font-background-color);
  color: var(--dark-font-color);
  font-size: var(--font-size-reg);
  margin-block-end: 10px;
}

.title__no-background {
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-reg);
  color: var(--minor-title-color);
}

.description__container {
  display: grid;
  grid-template-rows: min-content;
  row-gap: 10px;
}

.description {
  padding-block-end: 10px;
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-reg);
  color: var(--font-color-desc);
  line-height: 23.4px;
}

.content_section {
  display: grid;
  gap: 20px;
  max-width: 984px;
}

.advice_content {
  grid-template-columns: minmax(20%, 32%) 1fr;
}

.paragraph_gap {
  padding-block-end: 10px;
}

.question_paragraph {
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.question_title {
  grid-column: 1 / -1;
  max-width: 270px;
}

.question_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 20px;
  grid-column: 1 / -1;
}

.gallery_gap {
  margin-block-end: -10px;
}

.gallery {
 max-width: 100%;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(19%, 1fr));
  gap: 20px;
}

.card {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sunset {
  grid-column: span 2 / auto;
}

.books {
 grid-area: 2 / 2;
}

.ice-cream {
  grid-row: span 2 / auto;
}

.street {
  grid-column: span 2 / auto;
}

.tape {
  grid-row: span 2 / auto;
}

.footer {
  display: grid;
  min-height: 668px;
  height: 100vh;
  position: relative;
}

.footer__header {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  color: var(--color-title);
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--font-shadow-color);
  align-self: center;
  text-align: center;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--font-shadow-color);
  cursor: pointer;
}

.link:hover {
  border-bottom: 1px solid var(--link-hover-color);
}

.link:focus {
  outline: 1px solid var(--link-focus-color);
}

.page.theme_light {
  .lightbulb__text {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .content {
    margin-inline-end: 10px;
  }

  .header__title-decor {
    max-width: 364px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: end;
    align-self: center;
    grid-column: 3;
    padding-block-start: 25px;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }

  .advice_content {
    gap: 20px;
  }

  .content_section {
    grid-template-columns: 33% 66%;
    padding-inline-end: 0px;
  }

  .gallery-title {
    padding-block-end: 10px;
  }

  .question_title {
    max-width: 150px;
  }

  .question_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .question_paragraph {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__header {
    align-self: center;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (max-width: 767px) {

  .page {
    gap: 40px;
    padding: 0px;
    margin: 0px;
  }

  .content {
    gap: 40px;
    padding: 0px 10px 0px 10px;
  }

  .header {
    gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto min-content auto;
    grid-auto-rows: min-content;
    min-height: 668px;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    margin: 0px auto;
    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;
  }

  .lightbulb__text {
    top: 10px;
    right: 18px;
  }

  .decorated-zone::before {
    top: 8px;
    right: 8px;
  }

  .decorated-zone::after {
    bottom: 12px;
    left: 11px;
  }

  .header__theme-menu {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-block-start: 32px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-self: end;
  }

  .header__title {
    grid-area: 2 / 1 / 2 / 2;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 1;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
  }

  .header__title-decor {
    grid-area: 3 / 1 / 4 / 2;
    margin: 0px;
    padding: 0px;
    padding-bottom: 15px;
  }

  .title__no-background {
    margin: 0px;
    padding-bottom: 10px;
    gap: 0px;
  }

  .question_title {
    gap: 0px;
    padding: 0px;
    margin: 0px;
  }

  .content_section {
    grid-template-columns: 1fr;
    padding: 0px;
    margin: 0px;
    gap: 20px;
  }
  
  .question_paragraph {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }

  .question_content {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    margin-top: 0px;
    padding: 0px;
    /* grid-column: 1;
    grid-row: span 3; */
  }

  .section_container {
    padding-top: 10px;
  }

  .advice_content {
    margin: 0px;
    padding: 0px;
    gap: 15px;
  }

  .gallery_gap {
    gap: 0px;
    margin-bottom: -10px;
    padding: 0px;
  }

  .gallery__container {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    gap: 10px;
  }

  .footer {
    align-self: center;
    padding-top: 0px;
    margin: 0px;
  }

  .footer::before {
    right: -5px;
    top: 10px;
  }

  .footer::after {
    left: -5px;
    bottom: 10px;
  }

  .footer__header {
    font-size: 114px;
  }
}

