/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import 'light.css';
@import 'variables.css';



html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-attachment: fixed;
  background-color: #000028;
  max-width: 1024px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 20px 0px 20px;
} 

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr min-content 1fr;
  /* grid-auto-columns: 0px; */
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  padding: 0px 20px 0px 20px;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  margin-block-start: 20px;
  z-index: 1;
}

.lightbulb {
  grid-row: 1;
  position: absolute;
  top: 22px;
  left: 0;
  right: 30px;
  bottom: 0;
}

.lightbulb__container {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 10px;
  
}

.lightbulb__text {
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  color: var(--color-magenta);
  font-size: var(--font-size-reg);
}

.lightbulb__circle {
  background-color: var(--color-magenta);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--color-magenta);
  align-self: center;
}

.rectangle-1 {
  grid-row: 3;
  grid-column: 1;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-magenta);
  border-bottom: 1px solid var(--color-magenta);
  align-self: end;
  margin-block-end: 15px;
}

.rectangle-2 {
  grid-row: 1;
  grid-column: 3;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--color-magenta);
  border-top: 1px solid var(--color-magenta);
  justify-self: end;
  margin-block-start: 20px;
}

.header__title {
  grid-row: 2;
  grid-column: span 3;
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--color-magenta);
  margin-inline-start: -20px;
}

.header__title-decor {
  align-self: center;
  justify-self: end;
  grid-row: 3;
  grid-column: span 3;
  max-width: 490px;
  margin-block-end: 45px;
}

.header__theme-menu-button {
  appearance: none;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 26px;
  background-color: transparent;
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-size: var(--font-size-reg);
  text-transform: lowercase;
  color: var(--color-magenta);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-magenta);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 40%);
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline var(--color-magenta);
} 

.pseudo__decor {
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-self: center;
}

.title-decor {
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-weight: var(--font-weight-bold);
  background-color:  var(--color-magenta);
  color: var(--color-dark-blue);
  font-size: var(--font-size-reg);
  margin-block-end: 10px;
}

.title-decor-regular {
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  font-weight: var(--font-weight-regular);
  background-color:  var(--color-magenta);
  color: var(--color-dark-blue);
  font-size: var(--font-size-reg);
  margin-block-end: 10px;
}

.title__no-background {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-reg);
  color: var(--color-magenta);
}

.description__container {
  display: grid;
  grid-template-rows: min-content;
  row-gap: 25px;
}

.description {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-reg);
  color: var(--font-color-desc);
  line-height: 23.4px;
}

.section-1_container {
  display: grid;
  grid-template-columns: minmax(200px, 315px) 1fr; /* probably have to change that */
  gap: 20px;
}

.paragraph-1 {
  padding-inline-end: 20px;
}

.section_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.section_2__title-container {
  grid-area: 1 / 1 / 2 / 2;
}

.paragraph-2 {
  grid-area: 2 / 1 / 3 / 2;
}

.paragraph-3 {
  grid-area: 2 / 3 / 3 / 4;
}

.paragraph-4 {
  grid-area: 2 / 2 / 3 / 3;
}

.section_3 {
  display: grid;
  grid-template-columns: 32% 68%;
  grid-column-gap: 20px;
  grid-row-gap: 0px; 
}

.title-decor__section-3 {
  margin-block-end: 0px;
}

.section_3-container {
  display: grid;
  padding-inline-end: 30px;
  grid-template-rows: 1fr;
  gap: 20px;
}

.gallery {
 max-width: 100%;
}

.gallery__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(190px, 1fr));
  gap: 20px;
}

.card {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sunset {
  grid-column: span 2 / auto;
  height: 200px;
}

.books {
 grid-area: 2 / 2;
}

.ice-cream {
  grid-row: span 2 / auto;
}

.street {
  grid-column: span 2 / auto;
}

.tape {
  grid-row: span 2 / auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  min-height: 100vh;
}

.footer__header {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family, Helvetica, Arial, sans-serif);
  color: var(--color-title);
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--color-magenta);
  grid-row: 2;
  align-self: end;
  text-align: center;
}

.footer_dec-2 {
  grid-row: 1;
  justify-self: end;
  margin-inline-end: 10px;
}

.footer_dec-1 {
  justify-self: start;
  align-self: end;
  margin-inline-start: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-magenta);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 1px solid var(--font-color-desc)
}

@media ( width <= 768px) {

  .header__title {
    align-self: center;
  }
  .header__title-decor {
    max-width: 364px;
    align-self: center;
  }
  .header__theme-menu {
    display: flex;
    justify-content: end;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .section-1_container {
    grid-template-columns: 32% 68%;
  }

  .section_2 {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 236px 1fr;
  }

  .section_2__title-container {
    grid-area: 1 / 1 / 2 / 2;
  }

  .paragraph-2 {
    grid-area: 2 / 1 / 3 / 3;
  }

  .paragraph-3 {
    grid-area: 3 / 1 / 4 / 3;
  }

  .paragraph-4 {
    grid-area: 4 / 1 / 5 / 3;
  }

  .footer__header {
    font-size: 120px;
    align-self: center;
  }
}

@media (max-width:375px) and (max-height: 668px) {
  .page {
    /* padding: 0px 10px 0px 10px; */
  }

  .content {
    /* padding: 0px 10px 0px 10px; */
  }

  .header {
    padding: 0 10px 0px 10px;
    gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 60px repeat(4, minmax(min-content, 1fr));
    min-height: 100dvh;
    
  }

  .lightbulb {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0px;
  }

  .lightbulb__container {
    margin: 0px;
    padding-inline-end: 10px;
    justify-content: end;
  }

  .rectangle-2 {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0px;
    margin-inline-end: 10px;
  }

  .header__theme-menu {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
  }

  .header__theme-menu-list {
    align-self: end;
    flex-direction: column;
  }

  .header__title {
    grid-area: 3 / 1 / 4 / 2;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 100px;
    margin: 0px;
    
  }

  .header__title-decor {
    grid-area: 4 / 1 / 6 / 2;
    margin: 0px;
    padding: 0px;
    /* margin-inline-end: 20px;
    margin-inline-start: -20px;
    margin-block-start: 90px; */
  }

  .rectangle-1 {
    grid-area: 5 / 1 / 6 / 2;
    margin: 0px;
  }

  .section-1_container {
    grid-template-columns: 1fr;
  }

  .paragraph-1 {
    padding: 0;
  }

  .section_2__title-container {
    grid-area: 1 / 1 / 2 / 3;
  }

  .section_3 {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .section_3-container {
    padding: 0px;
  }

  .gallery__container {
    display: flex;
    flex-direction: column;
    object-fit: cover;
  }

  .sunset {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .books {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ice-cream {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .tape {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .street {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

