/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  
  --font-family: "IBM Plex Mono";
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-size-reg: 18px;
  --font-size-title: 157px;
  --color-dark-blue: #000028;
  --color-magenta: #FF0070;
  --font-color-desc: #F1B2CE;
  --color-title: #DB00FF;

}

.header {
  background-image: url(../images/cover-image-dark.png);
}
